In [ ]:
# TABLA AEREOPUERTOS COORDENADAS. importante
import requests

url = "https://travelpayouts-travelpayouts-flight-data-v1.p.rapidapi.com/data/en-GB/airports.json"

headers = {
	"X-Access-Token": "1560a7d76b628bc6aa5b25d0d1857c49",
	"X-RapidAPI-Key": "db2c5c2c95msh4022aaabd35a24ep17fdcejsnbbdc6f431ee2",
	"X-RapidAPI-Host": "travelpayouts-travelpayouts-flight-data-v1.p.rapidapi.com"
}

response = requests.get(url, headers=headers)

result=response.json()
#print (result.keys())
#print(result)
#Creamos un diccionario en blanco para ir rellenandolo con los elementos:
airports_list=[]
  
for element in result:
    airport={}
    if element["iata_type"]=="airport":
        airport['airport_name']=element["name"]
        airport['airport_code']=element["code"]
        #airport['time_zone']=element["time_zone"]
        airport['country_code']=element["country_code"]
        airport['city_code']=element["city_code"]
        airport['lat']=element["coordinates"]['lat']
        airport['lon']=element["coordinates"]['lon']
        airport['iata_type']=element["iata_type"]
        #print (element["iata_type"])
        airports_list.append(airport)
    
print(airports_list)

In [ ]:
import pandas as pd
airports_list = pd.DataFrame(airports_list)
airports_list

In [ ]:
# CSV airports_list
import pandas as pd

# Guardar el DataFrame en un archivo CSV
airports_list.to_csv('airports_list.csv', index=False, encoding='utf-8')

In [ ]:
# TABLA CIUDADES 
import requests
import pandas as pd

url = "https://travelpayouts-travelpayouts-flight-data-v1.p.rapidapi.com/data/en-GB/cities.json"

headers = {
    "X-Access-Token": "1560a7d76b628bc6aa5b25d0d1857c49",
    "X-RapidAPI-Key": "db2c5c2c95msh4022aaabd35a24ep17fdcejsnbbdc6f431ee2",
    "X-RapidAPI-Host": "travelpayouts-travelpayouts-flight-data-v1.p.rapidapi.com"
}

response = requests.get(url, headers=headers)

result = response.json()
#print(result)
city_list = []

for element in result:
    city = {}
    city['city_name'] = element["name_translations"]["en"]
    city['city_code'] = element["code"]
    city['country_code'] = element["country_code"]
    city_list.append(city)

print(city_list)

In [ ]:
city_list = pd.DataFrame(city_list)
city_list

In [ ]:
# CSV city_list
import pandas as pd

# Guardar el DataFrame en un archivo CSV
city_list.to_csv('city_list.csv', index=False, encoding='utf-8')

In [ ]:
# TABLA NOMBRE PAÍS Y CÓDIGO
import requests

url = "https://travelpayouts-travelpayouts-flight-data-v1.p.rapidapi.com/data/en-GB/countries.json"

headers = {
	"X-Access-Token": "1560a7d76b628bc6aa5b25d0d1857c49",
	"X-RapidAPI-Key": "db2c5c2c95msh4022aaabd35a24ep17fdcejsnbbdc6f431ee2",
	"X-RapidAPI-Host": "travelpayouts-travelpayouts-flight-data-v1.p.rapidapi.com"
}

response = requests.get(url, headers=headers)
#result = response.json()
print(result)

#print(response.json())
country_list = []

for element in result:
    country = {}
    country['country_name'] = element["name_translations"]["en"]
    country['country_code'] = element["code"]
    country_list.append(country)

print(country_list)

In [ ]:
import pandas as pd
country_list = pd.DataFrame(country_list)
country_list

In [ ]:
# CSV country_list

# Guardar el DataFrame en un archivo CSV
country_list.to_csv('country_list.csv', index=False, encoding='utf-8')

In [ ]:
# TABLA DE FECHAS
from datetime import datetime, timedelta

# Fecha de inicio y fin
fecha_inicio = datetime(2023, 9, 8)
fecha_fin = datetime(2024, 12, 31)

# Lista para almacenar las fechas
date = []

# Bucle para generar las fechas
while fecha_inicio <= fecha_fin:
    fecha_str = fecha_inicio.strftime("%Y-%m-%d")
    date.append(fecha_str)
    fecha_inicio += timedelta(days=1)

# Imprimir la lista de fechas
print(date)

In [ ]:
import pandas as pd

# Tu lista de fechas
fechas = ['2023-09-08', '2023-09-09', '2023-09-10', '2023-09-11', '2023-09-12', '2023-09-13', '2023-09-14', '2023-09-15', '2023-09-16', '2023-09-17', '2023-09-18', '2023-09-19', '2023-09-20', '2023-09-21', '2023-09-22', '2023-09-23', '2023-09-24', '2023-09-25', '2023-09-26', '2023-09-27', '2023-09-28', '2023-09-29', '2023-09-30', '2023-10-01', '2023-10-02', '2023-10-03', '2023-10-04', '2023-10-05', '2023-10-06', '2023-10-07', '2023-10-08', '2023-10-09', '2023-10-10', '2023-10-11', '2023-10-12', '2023-10-13', '2023-10-14', '2023-10-15', '2023-10-16', '2023-10-17', '2023-10-18', '2023-10-19', '2023-10-20', '2023-10-21', '2023-10-22', '2023-10-23', '2023-10-24', '2023-10-25', '2023-10-26', '2023-10-27', '2023-10-28', '2023-10-29', '2023-10-30', '2023-10-31', '2023-11-01', '2023-11-02', '2023-11-03', '2023-11-04', '2023-11-05', '2023-11-06', '2023-11-07', '2023-11-08', '2023-11-09', '2023-11-10', '2023-11-11', '2023-11-12', '2023-11-13', '2023-11-14', '2023-11-15', '2023-11-16', '2023-11-17', '2023-11-18', '2023-11-19', '2023-11-20', '2023-11-21', '2023-11-22', '2023-11-23', '2023-11-24', '2023-11-25', '2023-11-26', '2023-11-27', '2023-11-28', '2023-11-29', '2023-11-30', '2023-12-01', '2023-12-02', '2023-12-03', '2023-12-04', '2023-12-05', '2023-12-06', '2023-12-07', '2023-12-08', '2023-12-09', '2023-12-10', '2023-12-11', '2023-12-12', '2023-12-13', '2023-12-14', '2023-12-15', '2023-12-16', '2023-12-17', '2023-12-18', '2023-12-19', '2023-12-20', '2023-12-21', '2023-12-22', '2023-12-23', '2023-12-24', '2023-12-25', '2023-12-26', '2023-12-27', '2023-12-28', '2023-12-29', '2023-12-30', '2023-12-31', '2024-01-01', '2024-01-02', '2024-01-03', '2024-01-04', '2024-01-05', '2024-01-06', '2024-01-07', '2024-01-08', '2024-01-09', '2024-01-10', '2024-01-11', '2024-01-12', '2024-01-13', '2024-01-14', '2024-01-15', '2024-01-16', '2024-01-17', '2024-01-18', '2024-01-19', '2024-01-20', '2024-01-21', '2024-01-22', '2024-01-23', '2024-01-24', '2024-01-25', '2024-01-26', '2024-01-27', '2024-01-28', '2024-01-29', '2024-01-30', '2024-01-31', '2024-02-01', '2024-02-02', '2024-02-03', '2024-02-04', '2024-02-05', '2024-02-06', '2024-02-07', '2024-02-08', '2024-02-09', '2024-02-10', '2024-02-11', '2024-02-12', '2024-02-13', '2024-02-14', '2024-02-15', '2024-02-16', '2024-02-17', '2024-02-18', '2024-02-19', '2024-02-20', '2024-02-21', '2024-02-22', '2024-02-23', '2024-02-24', '2024-02-25', '2024-02-26', '2024-02-27', '2024-02-28', '2024-02-29', '2024-03-01', '2024-03-02', '2024-03-03', '2024-03-04', '2024-03-05', '2024-03-06', '2024-03-07', '2024-03-08', '2024-03-09', '2024-03-10', '2024-03-11', '2024-03-12', '2024-03-13', '2024-03-14', '2024-03-15', '2024-03-16', '2024-03-17', '2024-03-18', '2024-03-19', '2024-03-20', '2024-03-21', '2024-03-22', '2024-03-23', '2024-03-24', '2024-03-25', '2024-03-26', '2024-03-27', '2024-03-28', '2024-03-29', '2024-03-30', '2024-03-31', '2024-04-01', '2024-04-02', '2024-04-03', '2024-04-04', '2024-04-05', '2024-04-06', '2024-04-07', '2024-04-08', '2024-04-09', '2024-04-10', '2024-04-11', '2024-04-12', '2024-04-13', '2024-04-14', '2024-04-15', '2024-04-16', '2024-04-17', '2024-04-18', '2024-04-19', '2024-04-20', '2024-04-21', '2024-04-22', '2024-04-23', '2024-04-24', '2024-04-25', '2024-04-26', '2024-04-27', '2024-04-28', '2024-04-29', '2024-04-30', '2024-05-01', '2024-05-02', '2024-05-03', '2024-05-04', '2024-05-05', '2024-05-06', '2024-05-07', '2024-05-08', '2024-05-09', '2024-05-10', '2024-05-11', '2024-05-12', '2024-05-13', '2024-05-14', '2024-05-15', '2024-05-16', '2024-05-17', '2024-05-18', '2024-05-19', '2024-05-20', '2024-05-21', '2024-05-22', '2024-05-23', '2024-05-24', '2024-05-25', '2024-05-26', '2024-05-27', '2024-05-28', '2024-05-29', '2024-05-30', '2024-05-31', '2024-06-01', '2024-06-02', '2024-06-03', '2024-06-04', '2024-06-05', '2024-06-06', '2024-06-07', '2024-06-08', '2024-06-09', '2024-06-10', '2024-06-11', '2024-06-12', '2024-06-13', '2024-06-14', '2024-06-15', '2024-06-16', '2024-06-17', '2024-06-18', '2024-06-19', '2024-06-20', '2024-06-21', '2024-06-22', '2024-06-23', '2024-06-24', '2024-06-25', '2024-06-26', '2024-06-27', '2024-06-28', '2024-06-29', '2024-06-30', '2024-07-01', '2024-07-02', '2024-07-03', '2024-07-04', '2024-07-05', '2024-07-06', '2024-07-07', '2024-07-08', '2024-07-09', '2024-07-10', '2024-07-11', '2024-07-12', '2024-07-13', '2024-07-14', '2024-07-15', '2024-07-16', '2024-07-17', '2024-07-18', '2024-07-19', '2024-07-20', '2024-07-21', '2024-07-22', '2024-07-23', '2024-07-24', '2024-07-25', '2024-07-26', '2024-07-27', '2024-07-28', '2024-07-29', '2024-07-30', '2024-07-31', '2024-08-01', '2024-08-02', '2024-08-03', '2024-08-04', '2024-08-05', '2024-08-06', '2024-08-07', '2024-08-08', '2024-08-09', '2024-08-10', '2024-08-11', '2024-08-12', '2024-08-13', '2024-08-14', '2024-08-15', '2024-08-16', '2024-08-17', '2024-08-18', '2024-08-19', '2024-08-20', '2024-08-21', '2024-08-22', '2024-08-23', '2024-08-24', '2024-08-25', '2024-08-26', '2024-08-27', '2024-08-28', '2024-08-29', '2024-08-30', '2024-08-31', '2024-09-01', '2024-09-02', '2024-09-03', '2024-09-04', '2024-09-05', '2024-09-06', '2024-09-07', '2024-09-08', '2024-09-09', '2024-09-10', '2024-09-11', '2024-09-12', '2024-09-13', '2024-09-14', '2024-09-15', '2024-09-16', '2024-09-17', '2024-09-18', '2024-09-19', '2024-09-20', '2024-09-21', '2024-09-22', '2024-09-23', '2024-09-24', '2024-09-25', '2024-09-26', '2024-09-27', '2024-09-28', '2024-09-29', '2024-09-30', '2024-10-01', '2024-10-02', '2024-10-03', '2024-10-04', '2024-10-05', '2024-10-06', '2024-10-07', '2024-10-08', '2024-10-09', '2024-10-10', '2024-10-11', '2024-10-12', '2024-10-13', '2024-10-14', '2024-10-15', '2024-10-16', '2024-10-17', '2024-10-18', '2024-10-19', '2024-10-20', '2024-10-21', '2024-10-22', '2024-10-23', '2024-10-24', '2024-10-25', '2024-10-26', '2024-10-27', '2024-10-28', '2024-10-29', '2024-10-30', '2024-10-31', '2024-11-01', '2024-11-02', '2024-11-03', '2024-11-04', '2024-11-05', '2024-11-06', '2024-11-07', '2024-11-08', '2024-11-09', '2024-11-10', '2024-11-11', '2024-11-12', '2024-11-13', '2024-11-14', '2024-11-15', '2024-11-16', '2024-11-17', '2024-11-18', '2024-11-19', '2024-11-20', '2024-11-21', '2024-11-22', '2024-11-23', '2024-11-24', '2024-11-25', '2024-11-26', '2024-11-27', '2024-11-28', '2024-11-29', '2024-11-30', '2024-12-01', '2024-12-02', '2024-12-03', '2024-12-04', '2024-12-05', '2024-12-06', '2024-12-07', '2024-12-08', '2024-12-09', '2024-12-10', '2024-12-11', '2024-12-12', '2024-12-13', '2024-12-14', '2024-12-15', '2024-12-16', '2024-12-17', '2024-12-18', '2024-12-19', '2024-12-20', '2024-12-21', '2024-12-22', '2024-12-23', '2024-12-24', '2024-12-25', '2024-12-26', '2024-12-27', '2024-12-28', '2024-12-29', '2024-12-30', '2024-12-31']

# Crear un DataFrame 'date'
date= pd.DataFrame({'date': fechas})

# Mostrar el DataFrame resultante
print(date)

In [ ]:
# date.csv

date.to_csv('date.csv', index=False, encoding='utf-8')

In [ ]:
# TABLA AIRLINES
import requests

url = "https://travelpayouts-travelpayouts-flight-data-v1.p.rapidapi.com/data/en-GB/airlines.json"

headers = {
	"X-Access-Token": "1560a7d76b628bc6aa5b25d0d1857c49",
	"X-RapidAPI-Key": "db2c5c2c95msh4022aaabd35a24ep17fdcejsnbbdc6f431ee2",
	"X-RapidAPI-Host": "travelpayouts-travelpayouts-flight-data-v1.p.rapidapi.com"
}

response = requests.get(url, headers=headers)

result = response.json()
#print(response.json())

airlines_list = []

for element in result:
    airline = {}
    airline['airline_name'] = element["name_translations"]["en"]
    airline['airline_code'] = element["code"]
    airline['lowcost'] = element['is_lowcost']
    airlines_list.append(airline)

print(airlines_list)

In [ ]:
airlines_list = pd.DataFrame(airlines_list)

In [ ]:
airlines_list.head()

In [ ]:
# airlines_list.csv

airlines_list.to_csv('airlines_list.csv', index=False, encoding='utf-8')

In [ ]:
# FLIGHT_LIST. LA MÁS IMPORTANTE
import pandas as pd
import requests
from datetime import datetime, timedelta

url = "https://travelpayouts-travelpayouts-flight-data-v1.p.rapidapi.com/v1/prices/calendar"
querystring = {"calendar_type": "departure_date", "origin": "MAD", "currency": "EUR"}

headers = {
    "X-Access-Token": "1560a7d76b628bc6aa5b25d0d1857c49",
    "X-RapidAPI-Key": "db2c5c2c95msh4022aaabd35a24ep17fdcejsnbbdc6f431ee2",
    "X-RapidAPI-Host": "travelpayouts-travelpayouts-flight-data-v1.p.rapidapi.com"
}

flight_list = []

start_date = "2023-09-08"  # Fecha de inicio
end_date = "2024-12-31"    # Fecha de finalización

current_date = start_date
while current_date <= end_date:
    querystring["depart_date"] = current_date
    response = requests.get(url, headers=headers, params=querystring)
    result = response.json()
    
    for date, flight_data in result['data'].items():
        flight = {}
        flight['date'] = date
        flight['origin'] = flight_data['origin']
        flight['destination'] = flight_data['destination']
        flight['airline_code'] = flight_data['airline']
        flight['price(EUR)'] = flight_data['price']
        flight['flight_number'] = flight_data['flight_number']
        flight['transfers'] = flight_data['transfers']
        flight_list.append(flight)
    
    # Avanza al siguiente día
    current_date = (datetime.strptime(current_date, "%Y-%m-%d") + timedelta(days=1)).strftime("%Y-%m-%d")

# Ahora flight_list contendrá los vuelos para el rango de fechas especificado

In [1]:
import pandas as pd

In [2]:
flight_list = pd.read_csv(r'csv\flight_list.csv')

In [5]:
flight_list.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 172198 entries, 0 to 172197
Data columns (total 1 columns):
 #   Column                                                                   Non-Null Count   Dtype
---  ------                                                                   --------------   -----
 0   date;origin;destination;airline_code;price(EUR);flight_number;transfers  172198 non-null  object
dtypes: object(1)
memory usage: 1.3+ MB

In [3]:
flight_list.head()

  date;origin;destination;airline_code;price(EUR);flight_number;transfers
0                    04/09/2023;MAD;IBZ;FR;62;5354;0
1                    05/09/2023;MAD;IBZ;FR;41;2084;0
2                    06/09/2023;MAD;OPO;FR;48;5482;0
3                    07/09/2023;MAD;PMI;FR;36;2063;0
4                    08/09/2023;MAD;IBZ;FR;43;2066;0

In [6]:
# Suponiendo que ya tienes un DataFrame llamado df con la columna vuelos_hora_fecha
# Puedes dividir esta columna en tres columnas separadas
flight_list[['date', 'origin', 'destination', 'airline_code', 'price(EUR)', 'flight_number', 'transfers']] = flight_list['date;origin;destination;airline_code;price(EUR);flight_number;transfers'].str.split(';', expand=True)

# Ahora, df contendrá las tres columnas deseadas: vuelos, hora, y fecha
flight_list.head()

,date;origin;destination;airline_code;price(EUR);flight_number;transfers,date,origin,destination,airline_code,price(EUR),flight_number,transfers
0,04/09/2023;MAD;IBZ;FR;62;5354;0,04/09/2023,MAD,IBZ,FR,62,5354,0
1,05/09/2023;MAD;IBZ;FR;41;2084;0,05/09/2023,MAD,IBZ,FR,41,2084,0
2,06/09/2023;MAD;OPO;FR;48;5482;0,06/09/2023,MAD,OPO,FR,48,5482,0
3,07/09/2023;MAD;PMI;FR;36;2063;0,07/09/2023,MAD,PMI,FR,36,2063,0
4,08/09/2023;MAD;IBZ;FR;43;2066;0,08/09/2023,MAD,IBZ,FR,43,2066,0

In [29]:

flight_list.drop_duplicates(subset=['flight_number'], inplace=True)

# Ahora, puedes verificar la longitud de la columna sin duplicados
len(flight_list['flight_number'])

181

In [30]:
unique_flight_numbers = flight_list['flight_number'].unique()
#print(unique_flight_numbers)
len(unique_flight_numbers)

181

In [31]:
flight_list.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 181 entries, 0 to 53592
Data columns (total 8 columns):
 #   Column                                                                   Non-Null Count  Dtype
---  ------                                                                   --------------  -----
 0   date;origin;destination;airline_code;price(EUR);flight_number;transfers  181 non-null    object
 1   date                                                                     181 non-null    object
 2   origin                                                                   181 non-null    object
 3   destination                                                              181 non-null    object
 4   airline_code                                                             181 non-null    object
 5   price(EUR)                                                               181 non-null    object
 6   flight_number                                                            181 non-null    object
 7   transfers                                                                181 non-null    object
dtypes: object(8)
memory usage: 12.7+ KB

In [33]:
import pandas as pd
flight_list = pd.DataFrame(flight_list)

In [34]:
flight_list = pd.DataFrame(flight_list)
flight_list.head

<bound method NDFrame.head of       date;origin;destination;airline_code;price(EUR);flight_number;transfers  \
0                        04/09/2023;MAD;IBZ;FR;62;5354;0
1                        05/09/2023;MAD;IBZ;FR;41;2084;0
2                        06/09/2023;MAD;OPO;FR;48;5482;0
3                        07/09/2023;MAD;PMI;FR;36;2063;0
4                        08/09/2023;MAD;IBZ;FR;43;2066;0
...                                                  ...
352                      22/08/2024;MAD;PAR;IB;99;3426;0
355                     25/08/2024;MAD;TCI;UX;260;9059;0
356                     26/08/2024;MAD;ZRH;UX;157;1675;0
357                      28/08/2024;MAD;UIO;UX;3617;39;1
53592                    12/05/2024;MAD;LIS;NI;85;1017;0

             date origin destination airline_code price(EUR) flight_number  \
0      04/09/2023    MAD         IBZ           FR         62          5354
1      05/09/2023    MAD         IBZ           FR         41          2084
2      06/09/2023    MAD         OPO           FR         48          5482
3      07/09/2023    MAD         PMI           FR         36          2063
4      08/09/2023    MAD         IBZ           FR         43          2066
...           ...    ...         ...          ...        ...           ...
352    22/08/2024    MAD         PAR           IB         99          3426
355    25/08/2024    MAD         TCI           UX        260          9059
356    26/08/2024    MAD         ZRH           UX        157          1675
357    28/08/2024    MAD         UIO           UX       3617            39
53592  12/05/2024    MAD         LIS           NI         85          1017

      transfers
0             0
1             0
2             0
3             0
4             0
...         ...
352           0
355           0
356           0
357           1
53592         0

[181 rows x 8 columns]>

In [35]:

flight_list.to_csv('flight_list.csv', index=False, encoding='utf-8')